<!DOCTYPE html>
{% load static %}
<link href="{% static 'css/side_bar_menu.css'%}" rel="stylesheet">
<link href="{% static 'css/chat/Chat.css'%}" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

<html>
{% include "side_bar_menu.html" %}
    <body>
        <div class="chats-container">

            {% for chat in Chats %}

                <a href="/Chat/chat_room/{{chat.pk}}/" id="chatId_{{chat.pk}}" class="chat">
                    {% if chat.user_1 != user %}
                        <p>{{ chat.user_1.username }}</p>
                    {% else %}
                        <p>{{ chat.user_2.username }}</p>
                    {% endif %}
                    <a class="DeleteChat" onclick="RemoveChat({{chat.pk}})">Удалить</a>
                </a>
            {% endfor %}
        </div>
    </body>
</html>