/* Общий контейнер плеера */
#player {
    display: block;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
    width: 22%;
    max-width: 600px;
    margin: auto;
    position:fixed;
    bottom:22px;
}

/* Контейнер для информации о треке */
.track-info {
    margin-bottom: 10px;
}

/* Контейнер для управляющих кнопок */
.controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.controls button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 0 5px;
}

/* Стили для кнопок активного состояния */
#shuffle-btn.active, #repeat-btn.active {
    color: #f00; /* Или любой другой цвет для активного состояния */
}

/* Прогресс-бар */
.progress-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#progress {
    flex-grow: 1;
    margin: 0 10px;
}

/* Регуляторы громкости */
#volume-controls {
    display: flex;
    align-items: center;
}

#volume-slider {
    width: 100px;
    margin-left: 10px;
}

#mute-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
}
