<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/Music.css'%}">
    <link href="{% static 'css/side_bar_menu.css'%}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'js/music.js'%}"></script>

    <title>Document</title>
</head>
<body>

</body>
</html>
    {% include "side_bar_menu.html" %}

<div class="container">
    <div id="modal" class="modal">
        <p>Добавить трек</p>
        <div class="modal-content">
            <input type="file" id="AudioFileForAdd" accept="audio/mp3, audio/mp4">
            <input type="text" id="TitleForNewAudio" placeholder="НазваниеТрека">
        </div>
        <button onclick="AddNewAudio()">Загрузить</button>
    </div>
    <div class="Playlist">
        {% for m in music %}
            <div class="music_{{m.pk}}">
                <a>Автор:{{m.author}} </a></br>
                <audio controls >
                    <source src="{{m.file.url}}">

                </audio><img onclick="deleteMusic({{m.pk}})" width="20px" src="{% static 'icons/free-icon-bin-484662.png' %}"></br></br>
            </div>


        {% endfor %}
    </div>

</div>
