<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load filters %}

    <title>User Profile</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'js/script.js'%}"></script>
    <script src="{% static 'js/Profile.js'%}"></script>
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>

    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
    <link href="{% static 'css/profile_page.css'%}" rel="stylesheet">     
    <link href="{% static 'css/side_bar_menu.css'%}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        {% include "side_bar_menu.html" %}
        
        <!-- Main Content -->
        <div class="main-content">
            <div class="profile-header">
                <div class="cover-photo">
                    <img src="{% static 'image/LinearCoverGradientInProfilePicture.svg'%}" alt="Cover Photo">
                </div>
                <div class="profile-info">
                    <img src="{{user.avatar}}" alt="Аватарка отсутствует" class="profile-avatar">
                    <h1 class="profile-name">{{user.username}}</h1>
                    <p class="profile-bio">This is a short user bio. It can be a few sentences long and give an overview of who the user is.</p>
                    <div class="profile-actions">
                        <button onclick="openProfileEditPopup()"  class="edit-profile-btn">Edit Profile</button>
                        <button onclick="openNewPostPopup()" class="add_publication_button">+</button>
                    </div>

                </div>
            </div>
            <h2>Your story</h2>

            <div class="tweets-section">
                {% for post in posts %}
                    <p>{{post.CheckTypeOfFile}}</p>

                    <div class="tweet post{{post.pk}}" onclick="OpenPostPopup({{post.pk}})">
                        <p>{{post.description}}</p>
                            {% if post.PostFile.url|typeOf  == 'mp4'%}
                                <!-- Видеоплеер -->
                                <video id="videoPlayer-{{ post.pk }}" class="plyr" playsinline controls>
                                    <source class="plyrVideoPlayerSource" src="{% static 'PostData/2/video/Madara_Uchiha_-_Royalty_AMV_PXKtkqe.mp4' %}" type="video/mp4">

                                </video>
                            {% else %}
                                <!-- Изображение -->
                                <img src="{{ post.PostFile.url }}" id="imagePlayer-{{ forloop.counter }}" alt="Post Image" style="max-width: 100%; height: auto;">
                            {% endif %}
                        <a class="Post_hearth_icon" onclick="adding_like_for_post({{post.pk}})" ><img src=" {% static 'icons/heart.png'%}"/><a/>
                        <a class="Post_comment_icon" ><img src=" {% static 'icons/message-324.svg'%}"/><a/>
                        <span class="tweet-date">{{post.created}}</span>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Модальное окно публикации нового поста -->
    <div id="ModalForNewPost" class="ModalForNewPost">
        <div class="modal-content modal-for-new-post">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Новая публикация</h2>
            <div>
                <label for="post_image_in_new_post_popup_id">Выберите фотографию:</label>
                <input type="file" id="post_image_in_new_post_popup_id" name="photo" accept="image/*"><br><br>
                <label for="description_textarea_for_new_post">Описание:</label>
                <textarea id="description_textarea_for_new_post" name="description" rows="4" cols="50"></textarea><br><br>
                <button  onclick="send_data_for_create_new_post()">Опубликовать</button>
            </div>
        </div>
    </div>

    <!-- Модальное окно редактирования информации о пользователе -->
    <div id="covepPopupChangePost" class="covepPopupChangePost">
        <div class="Profile_data_change_popup" >
            <h1>Редактирование профиля</h1>
            <form action="change_user_data" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Имя пользователя:</label>
                    <input type="text" id="username" name="username" value="{{user.username}}" required>
                </div>
                <div class="form-group">
                    <label for="status">Статус:</label>
                    <input type="text" id="status" name="status" value="{{user.status}}" required>
                </div>
                <div class="form-group">
                    <label for="email">Электронная почта:</label>
                    <input type="email" id="email" name="email" value="{{user.email}}" required>
                </div>
                <div class="form-group">
                    <label for="profile-picture">Изменить фотографию профиля:</label>
                    <input type="file" id="profile-picture" name="avatar" accept="image/*">
                </div>
                <button type="submit">Сохранить изменения</button>
            </form>
            <button> change password </button>
        </div>
    </div>

     <!-- Модальное окно публикации-->
     <div id="modal" class="modal">
        <div class="modal-content change-content">
            <div class="tweet-header">
                <div class="Tweet-avatar-div">
                    <a id="Tweet-Avatar-link"><img  src="" alt="avatar in pub feed popup" class="Tweet-Avatar" id="Tweet-Avatar"></a>
                </div>
                <div class="Tweet-Author-div">
                    <a class="tweet-author-name" href="${ author[0].pk }"></a>
                    <button onclick="" class="tweet-follow-button"></button>
                </div>
            </div>
            <div class="PostFilePlayBlock">
                <img src="" alt="Tweet Image 1" class="tweet-image">
                <video  class="plyr plyrVideoPlayerSource" playsinline controls>
                    <source class="plyrVideoPlayerSource" type="video/mp4"/>
                </video>
            </div>

            <a class="LikeIconCountTag" onclick="" ><img class="LikeIconPopup" src="" /></a>
            <a class="tweet-comment-link" onclick="" ><img class="tweet-comment-icon" src="" /></a>
            <p class="tweet-description"></p>
            <span class="tweet-date"></span> 
            <button  class="modalChangePostBtn">edit post Publication</button>
        </div>
    </div>

    <!-- Модальное окно с комментариями -->
     <div class="comments-modal">
        <div class="comments-write-section">
            <div>
                <div class="comments-write">
                    <input type="text" class="modal-commentInput" id="textInput" />
                    <a onclick="" class="Modal-CommentSubmitBtn">Отправить</a>
                </div>
            </div>
        </div>
            <div class="comments-section"></div>
        </div>
     </div>
</body>

<script>

    </script>
</html>