<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load filters %}

<head>
    <title>Лента публикаций</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
    <script src="{% static 'js/script.js'%}"></script>
    <script src="{% static 'js/pubFeed.js'%}"></script>

    <script src="{% static 'js/songPlayer.js'%}"></script>
    <link href="{% static 'css/songPlayer.css'%}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
    <link rel="stylesheet" href="{% static '\css\side_bar_menu.css' %}">
    <link rel="stylesheet" href="{% static '\css\pub_feed.css' %}">

</head>
<body>
    <div class="container">
        {% include "side_bar_menu.html" %}
        <div class="SearchBlock">
            <input type="text" oninput="Search()" class="searchInput" id="searchInput"/>
            <select class="OptionToSearchInput">
                <option value="Publications">Публикации</option>
                <option value="Users">Профиль</option>
                <option value="All">Все</option>
            </select>
        </div>
        
        <div class="feed" id="feed">
            {% for post in publication_list %}
            <div class="post" onclick="OpenPostPopup({{post.pk}})">
                {% if post.PostFile.url|typeOf  == 'mp4'%}
                    <!-- Видеоплеер -->
                    <img src="{{ post.preview.url }}" id="imagePlayer-{{ forloop.counter }}" alt="Post Image" style="max-width: 100%; height: auto;">
                {% else %}
                    <!-- Изображение -->
                    <img src="{{ post.PostFile.url }}" id="imagePlayer-{{ forloop.counter }}" alt="Post Image" style="max-width: 100%; height: auto;">
                {% endif %}
            </div>
            {% endfor %}

        </div>
    </div>

     <!-- Модальное окно публикации-->
     <div id="modal" class="modal">
        <div class="modal-content change-content">
            <div class="tweet-header">
                <div class="Tweet-avatar-div">
                    <a id="Tweet-Avatar-link"><img  src="" alt="avatar in pub feed popup" class="Tweet-Avatar" id="Tweet-Avatar"></a>
                </div>
                <div class="Tweet-Author-div">
                    <a class="tweet-author-name" href="${ author[0].pk }"></a>
                    <button onclick="" class="tweet-follow-button"></button>
                </div>
            </div>
            <div class="PostFilePlayBlock">
                <img src="" alt="Tweet Image 1" class="tweet-image">
                <video  class="plyr plyrVideoPlayerSource" playsinline controls>
                    <source class="plyrVideoPlayerSource" type="video/mp4"/>
                </video>
            </div>

            <a class="LikeIconCountTag"  ><img class="LikeIconPopup" src="" /></a>
            <a class="tweet-comment-link" ><img class="tweet-comment-icon" src="Config/static/icons/message-324.svg" /></a>
            <a class="tweet-favorite-link" ><img class="tweet-favorite-icon" src="Config/static/icons/save-instagram-black-lineal-18315.svg" /></a>

            <p class="tweet-description"></p>
            <span class="tweet-date"></span> 
            <button  class="modalChangePostBtn">edit post Publication</button>
        </div>
    </div>
    
    <!-- Модальное окно с комментариями -->
    <div class="comments-modal">
        <div class="comments-write-section">
            <div>
                <div class="comments-write">
                    <input type="text" class="modal-commentInput" id="textInput" />
                    <a onclick="" class="Modal-CommentSubmitBtn">Отправить</a>
                </div>
            </div>
        </div>
            <div class="comments-section"></div>
        </div>
     </div>
</body>
</html>