#messagesBlock{
    position: relative;
    left: 295px;
    background-color: gray;
    width: 1100px;
    height: 700px;
    overflow: auto;
}

.chat__item__container{
    position: fixed;
    bottom: 5px;
    width: 1110px;
    left: 300px;
    background-color: gray;
}

#id_message_send_input{
    width: 985px;
    height: 50px;
    font-size: 17px;
}

#id_message_send_button{
    width: 105px;
    height: 55px;
}

.MessageFromInterlocutor{
    width: 80%;
    background-color: #afacac;
    border-radius: 5px;
    margin: 5px 5px 10px 5px;
    padding: 1.5px;
}

.MessageFromUser{
    width: 80%;
    background-color: #afacac;
    border-radius: 5px;
    margin: 5px 5px 10px 5px;
    padding: 1.5px;
    position: relative;
    left: 205px;
}

.messageSubMenu{
    position: relative;
    width: 147px;
    height: 23px;
    background-color: red;
    padding: 5px;
    z-index: 9;
}

/* awdawdawwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

.message {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    position: relative;
}

.menu-icon {
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
}

.submenu {
    display: none;
    position: relative;
    width: 100px;
    right: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10;
}

.submenu.open {
    display: block;
}

.submenu button {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}